html {
  box-sizing: border-box;
  color: #222;
  border: 1em;
  margin: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  border-width: 2px;
  margin: 0;
}

article {
  padding: 0 1rem;
  line-height: 1.3;
}

article h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: .1rem;
  margin-left: 0;
}

article header {
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
  line-height: 1.1;
  border-bottom: 1px solid #999;
}

article header p {
  margin-top: .6rem;
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 1rem;
}

article p {
  margin: 0 0 1.3rem;
  margin-top: 1.35rem;
  font-family: "Crimson Text", sans-serif;
  font-size: 1em;
  font-weight: lighter;
}

article ol {
  text-align: left;
  padding-left: 1rem;
}

article ol li {
  font-size: 1rem;
  line-height: 1.27em;
}

blockquote {
  color: #555;
  font-size: 1.125rem;
  margin-top: 1.4rem;
}

.quote {
  font-size: 1.125rem;
  color: #999;
}

article p:nth-child(8) {
  padding-bottom: 1.4rem;
  border-bottom: 1px solid #999;
}
