html {
  box-sizing: border-box;
  color: #222;
  border: 1em;
  margin: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  border-width: 2px;
  margin: 0 0 1.3rem;
}


article {
  padding: 0 1rem;
}

article h1 {
  font-size: 1.3rem;
  font-weight: normal;
  padding-top: .2em;
  margin-bottom: 0;
  margin-left: 0;
}

article header {
  font-size: 1.5rem;
  text-align: left;
  margin: 0 0 1.3rem;
  line-height: 1.1;
  padding-bottom: .3rem;
  border-bottom: .10px solid #999;
}

article header p {
  margin: 0;
  font-style: italic;
}

article p {
  margin: 0 0 1.3rem;
  font-family: "Crimson Text", sans-serif;
  font-size: .9rem;
  line-height: 1.24;
  font-weight: lighter;
}

article ol {
  text-align: left;
  padding-left: 1rem;
}

article ol li {
  font-size: .88rem;
  line-height: 1.28em;
}

blockquote {
  color: #555;
  font-size: 1.125rem;
  margin-top: 1.5em;
  line-height: 2;
}

.quote {
  font-size: 1.125rem;
  color: #999;
}

article p:nth-child(3) {
  line-height: 1.25em;
  padding-top: .22rem;
}

article p:nth-child(5) {
  margin-top: 2.8rem;
}

article p:nth-child(6) {
  margin-top: 1.45em;
}

article p:nth-child(8) {
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #999;
}
